/* HTMX APP by @cody_koscielski */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c9c9c9;
    font-family: 'Roboto', sans-serif;
}

.center-content {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .todo-form {
     padding: 25px;
     background-color: #fff;
     border-radius: 15px;
 }

 .card {
     border-radius: 15px;
 }